name: Generate Template

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  schedule:
    # Run every Sunday
    - cron: "0 0 * * 0"
  workflow_dispatch:

jobs:
  template:
    name: Template generation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Execute template
        run: |
          cookiecutter . --no-input with_docker="y" with_docs="y"

      - name: Install conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-activate-base: true
          activate-environment: ""

      - name: Run make commands
        run: |
          cd repo_name
          make clean
          make help
        env:
          TERM: xterm

      - name: Build documentation
        run: |
          cd repo_name
          make build_documentation

      - name: Test dockerfiles
        run: |
          cd repo_name
          docker compose build